:root{
  --angle: 0deg;
}
input{
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}
.container-fluid{
  background-color: yellow;
  background-image: linear-gradient(var(--angle), #408080, #408066, #5A8040);
  background-repeat: no-repeat;
  min-height: 100vh;
  animation: 10s rotate linear infinite;
}
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
.grid {
  display: grid;
  gap: .5em;
  margin: 0 auto;

}
.form{
    grid-row: 2 / span 1;
    
}

.form__field{
  display: flex;
  justify-content: space-between;
  margin-bottom: .5em;
}
.control-label.required{
  position: relative;
}
.control-label.required::after{
  content:"⁕";
  position: relative;
  top: -.5em;
  left: .2em;
  color: red;
}
.control-label:hover::after{
  content: attr(data-title);
  position: absolute;
  left: 0;
  top: -1em;
  padding: .2em .5em;
  background-color: white;
  box-shadow: 0 0 0 1px black;
  white-space: nowrap;
}

.seccion__content{  
  width: max(20vw,400px);
  padding: 1em; 
  background-color: white;  
  font-size: clamp(1em, 1.5em, 1.2em);
  box-shadow: 0 0 0 .2em black,
              0 0 0 .3em white,
              0 0 0 .4em black;  
  border-radius: .3em;
}

  
  .form__field label{
    font-size: .8em;
  }
.input, .option{
  width: 75%;
}
.out__data *{
  font-size: .8rem;
}
.input{
  border-style: dashed;
  border-width: 2px;
  border-radius: .3em;
}
.btn{
  width: 100%;
}
.option{
  background-color: rgb(97, 94, 94);
 
}
.legend{
  font-size: 1em;
}
.title{
  padding: .5em;
  text-align: center;
  font-size: 1.4em;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 5px black;
}
@media (min-width: 800px) {
  .grid {
    grid-template-columns: repeat(2,minmax(400px, auto));
    grid-template-rows: 1fr;
    column-gap: 2em;
    justify-content: center;
  }
  .form{
    grid-row: 1 / span 1;
  }
}
